h1, h2, h3 {
    margin: 0;
}

body {
    margin: 0;
    line-height: 1.5;
    color: #333;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

hr {
    display: none;
    width: 100%;
    height: 1px;
    margin-top: -40px;
    border: 0;
    background-color: #e5e5e5;
}


/* Header */
.header {
    padding-top: 25px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

.hamburger {
    display: none;
    z-index: 1000;
}

.header.fixed {
    padding: 10px 0;
    background-color: #9791a0;
    /* background: linear-gradient(to left, #9791a0, #d8aeae, #f8dac3, #fff1dd)
    center no-repeat; */
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transform: translate3d(0, 0, 0);
}

.header.active {
    background-color: #ec908f;
}

.header__inner {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.logo {
    font-size: 35px;
    color: black;
    font-weight: 700;
}


/* Nav */
.nav {
    font-size: 18px;
    text-transform: uppercase;
}

.nav__link {
    vertical-align: top;
    display: inline-block;
    margin: 0 20px;
    color: black;
    text-decoration: none;
    transition: color .1s linear;
    position: relative;

}

.nav__link:hover {
    color: white;
}

.nav__link:after {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    opacity: 0;
    transition: opacity .1s linear;
}

.nav__link:hover:after {
    opacity: 1;
    background-color: white;
}


/* Nav-toggle */
/* .nav-toggle {
    display: none;
    width: 30px;
    padding: 10px 0;
    position: absolute;
    font-size: 0;
    color: transparent;
    border: 0;
    background: none;
    cursor: pointer;
    top: 24px;
    right: 24px;
    z-index: 1;
}

.nav-toggle:focus {
    outline: 0;
}

.nav-toggle__item {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: background .2s linear;
}

.nav-toggle.active .nav-toggle__item {
    background: none;
}

.nav-toggle.active .nav-toggle__item:before {
    transform-origin: left top;
    transform: rotate(45deg)
    translate3d(0, -2px, 0);
}

.nav-toggle.active .nav-toggle__item:after {
    transform-origin: left bottom;
    transform: rotate(-45deg)
    translate3d(0, 2.5px, 0);
}

.nav-toggle__item:before,
.nav-toggle__item:after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: transform .2s linear;
}

.nav-toggle__item:before {
    top: -9px;
}

.nav-toggle__item:after {
    bottom: -8px;
} */


/* Container */
.container {
    max-width: 1230px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}


/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, #9791a0, #d8aeae, #f8dac3, #fff1dd)
    center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__inner {
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.intro__title {
    font-size: 90px;
    font-weight: 700;
    color: black;
    line-height: 1;
    margin-bottom: 20px;
    font-family: 'Felipa', sans-serif;
}

.intro__subtitle {
    font-size: 50px;
    color: black;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
}

.btn {
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border: 3px solid black;
    padding: 10px 25px;
    color: black;
    transition: color .1s linear;
}

.btn:hover {
    color: white;
}


/* Section */
.section {
    padding: 80px 0;
}

.section--devices {
    padding-bottom: 0;
    background: linear-gradient(to left, #9791a0, #d8aeae, #f8dac3, #fff1dd)
    center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    margin-bottom: 50px;
}

.section--gray {
    background-color: #f8f8f8;
}

.section--clients {
    /* background: #f8f8f8; */
}

.section--map {
    padding: 40px 0;
    background-color: #e5e5e5;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;
    text-align: center;
}

.section__title {
    font-size: 30px;
    font-family: 'Felipa', sans-serif;;
}

.section__subtitle {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.section__subtitle:after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background-color: black;
    margin: 40px auto;
}

.section__text {
    font-size: 15px;
    color: darkgrey;
}


/* About */
.about {
    margin: 80px -15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about__inner {
    position: relative;
    background-color: rgba(238,83,112,0.8);
}

.about__item {
    width: 33.33333%;
    padding: 0 15px;
}

.about__inner:hover .about__img {
    transform: translate3d(-10px, -10px, 0);
}

.about__inner:hover .about__img img {
    opacity: 1;
}

.about__inner:hover .about__text {
    color: white;
    opacity: 1;
}

.about__img {
    transition: transform .2s linear;
}

.about__img img {
    filter: saturate(80%) brightness(80%);
    max-width: 100%;
    height: auto;
    display: block;
    transition: opacity .1s linear;
}

.about__text {
    width: 100%;
    color: white;
    background-color: rgba(238,83,112);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 28px;
    position: absolute;
    text-align: center;
    transform: translate3d(-10px, -50%, 0);
    top: 48%;
    left: 0;
    opacity: 0;
    transition: opacity .5s linear;
    z-index: 2;
}

.about__info {
    text-align: center;
    margin-top: 20px;
}

.about__name {
    margin-bottom: 5px;
    color: black;
    text-transform: uppercase;
    font-size: 14px;
}

.about__prof {
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    color: #999;
}


/* Services */
.services {
    display: flex;
    flex-wrap: wrap;
}

.services__item {
    width: 33.33333%;
    position: relative;
    padding: 0 20px 40px 90px;
    margin-bottom: 40px;
}

.services__item--border {
    border-bottom: 1px solid #e5e5e5;
}

.services__icon {
    position: absolute;
    top: 0;
    left: 30px;
    font-size: 32px;
    color: rgba(238,83,112,0.8);
}

.services__title {
    margin-bottom: 10px;
    font-size: 14px;
    text-transform: uppercase;
    color: black;
}


/* Devices */
.devices {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.devices__item {
    display: block;
    max-width: 100%;
    height: auto;
}

.devices__item--iphone {
    position: absolute;
    bottom: -75px;
    right: 0;
    z-index: 1;
}


/* We Do */
.wedo {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.wedo__item {
    width: 50%;
    padding: 0 15px;
}

.wedo__img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* Accordion */
.accordion__item {
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
}

.accordion__item.active
.accordion__content {
    display: block;
}

.accordion__item.active
.accordion__header {
    border-bottom-color: #e5e5e5;
}

.accordion__item.active
.accordion__header::after {
    transform: translateY(-50%)
    rotate(-45deg);
    margin-top: 5px;
}

.accordion__header {
    padding: 15px 20px 15px 60px;
    position: relative;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.accordion__header::after {
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    right: 20px;
    top: 50%;
    position: absolute;
    transform: translateY(-50%)
    rotate(135deg);
}

.accordion__icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 32px;
    color: rgba(238,83,112,0.8);
}

.accordion__content {
    display: none;
    padding: 15px;
    font-size: 15px;
    color: #999;
    font-style: italic;
    font-weight: 300;
}

.accordion__title {
    text-transform: uppercase;
    font-size: 14px;
    color: black;
}


/* Reviews */
.reviews {
    position: relative;
}

.reviews .slick-slider {
    padding: 0 110px;
}

.reviews__item {
    padding-left: 205px;
    position: relative;
}

.reviews__photo {
    display: block;
    position: absolute;
    font-size: 90px;
    color: rgba(238,83,112,0.8);
    top: 0;
    left: 5px;
    z-index: 1;
}

.reviews__text {
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    color: #999;
    margin-bottom: 15px;
}

.reviews__author {
    font-size: 24px;
    color: #333;
    font-family: 'Felipa', sans-serif;
}

.reviews__author:before {
    content: "";
    vertical-align: middle;
    display: inline-block;
    width: 50px;
    height: 3px;
    margin-right: 10px;
    background-color: black;
}

.reviews__btn,
.slick-arrow {
    display: block;
    font-size: 0;
    color: transparent;
    border: 0;
    background: none;
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}

.slick-arrow:focus {
    outline: 0;
}

.slick-arrow:after {
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
}

.reviews__btn--prev,
.slick-prev {
    left: 0;
    transform: rotate(-45deg);
}

.reviews__btn--next,
.slick-next {
    right: 0;
    transform: rotate(135deg);
}


/* Team */


/* Social */
.social {
    display: flex;
    justify-content: center;
}

.social__item {
    width: 55px;
    height: 55px;
    padding: 7px 10px;
    background-color: #fce38a;
    border-right: 1px solid #f38181;
    text-decoration: none;
    font-size: 30px;
    color: #f38181;
    transition: background .1s
    linear, color .1s linear;
}

.social__item:last-child {
    border-right: 0;
}

.social__item:hover {
    color: White;
    background-color: #f38181;
}


/* Logos */
.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -15px;
}

.logos__item {
    position: relative;
    padding: 0 15px;
}

.logos__img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* Works */
.works {
    display: flex;
}

.works__col {
    flex: 1 1 0;
}

.works__item {
    position: relative;
    background: linear-gradient(to left, #9791a0, #d8aeae, #f8dac3, #fff1dd)
    center no-repeat;
}

.works__item:hover .works__image {
    opacity: .1;
}

.works__item:hover .works__info {
    opacity: 1;
}

.works__image {
    display: block;
    max-width: 100%;
    height: auto;
    transition: opacity .2s linear;
}

.works__info {
    padding: 0 15px;
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: 1;
    left: 0;
    opacity: 0;
    text-align: center;
    color: #333333;
    transform: translate3d(0, -50%, 0);
    transition: opacity .2s linear;
}

.works__title {
    margin-bottom: 5px;
    font-size: 14px;
    text-transform: uppercase;
}

.works__text {
    font-size: 12px;
}


/* Clients */
.clients {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}

.clients__item {
    width: 50%;
    padding: 0 45px 0 175px;
    position: relative;
    margin-bottom: 60px;
}

.clients__photo {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 40px;
    z-index: 1;
}

.clients__name {
    margin-bottom: 5px;
    font-size: 14px;
    text-transform: uppercase;
    color: black;
}

.clients__prof {
    font-size: 15px;
    color: black;
    font-style: italic;
    font-weight: 300;
}

.clients__text {
    font-size: 15px;
    color: #999;
}

.clients__text:before {
    content: "";
    display: block;
    margin: 15px 0;
    width: 50px;
    height: 3px;
    background-color: black;
}


/* Blog */
.blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog__item {
    width: 31%;
}

.blog__header {
    position: relative;
    margin-bottom: 14px;
}

.blog__photo {
    display: block;
    max-width: 100%;
    height: auto;
}

.blog__date {
    padding: 10px 15px;
    background-color: rgba(238,83,112);
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    font-style: italic;
    position: absolute;
    bottom: 20px;
    left: -10px;
    z-index: 1;
}

.blog__date-day {
    line-height: 1;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
}

.blog__content {
    margin-bottom: 14px;
}

.blog__title {
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.blog__title a {
    color: inherit;
    text-decoration: none;
}

.blog__title a:hover {
    text-decoration: underline;
}

.blog__text {
    font-size: 15px;
    color: #999;
}

.blog__footer {
    padding-top: 14px;
    border-top: 1px solid #e5e5e5;
    font-size: 15px;
    font-weight: 300;
    color: #999;
}

.blog-stat__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.blog-stat__item i {
    color: rgba(238,83,112,0.8);
}


/* Map */
.map {
    text-align: center;
}

.map__title {
    font-size: 24px;
    font-weight: 700;
    color: rgba(238,83,112,0.8);
    text-transform: uppercase;
}

.map__title:after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background-color: rgba(238,83,112,0.8);
    margin: 15px auto;
}

.map__title a {
    color: inherit;
    text-decoration: none;
}

.map__title a:hover {
    color: #333333;
    text-decoration: none;
    transition: color .2s linear;
}


/* Footer */
.footer {
    padding-top: 50px;
    background-color: #f8f8f8;
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    justify-content: space-between;
    padding-bottom: 65px;
}

.footer__logo {
    margin-bottom: 30px;
    font-size: 46px;
    font-weight: 700;
    color: #ccc;
}

.footer__col {
    padding: 0 15px;
}

.footer__col--first {
    width: 40%;
}

.footer__col--second {
    width: 30%;
}

.footer__col--third {
    width: 22%;
}

.footer__social {
    margin-bottom: 25px;
}

.footer__text {
    margin-bottom: 30px;
    font-size: 15px;
    color: #999;
}

.footer__social-header {
    padding-bottom: 15px;
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
}

.footer__social-header b {
    font-size: 18px;
}

.footer__social-content {
    padding-top: 15px;
    font-size: 15px;
    color: #999;
    font-style: italic;
    font-weight: 300;
}

.footer__social-content a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    font-size: 18px;
    color: rgba(238,83,112,0.8);
}

.footer__title {
    margin: 30px 0;
    text-transform: uppercase;
    font-size: 14px;
    color: #333;
}


/* Blogs */
.blogs__item {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.blogs__content {
    padding-left: 20px;
}

.blogs__title {
    display: block;
    margin-bottom: 5px;
    line-height: 1.5;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}

.blogs__title:hover {
    text-decoration: underline;
}

.blogs__date {
    font-size: 13px;
    font-weight: 300;
    font-style: italic;
    color: #999;
}


/* Instagram */
.instagram {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.instagram__item {
    width: 33%;
    border-bottom: 1px solid #fff;
}

.instagram__item img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* Subscribe */
.subscribe {
    width: 100%;
    max-width: 380px;
    display: flex;
}

.subscribe__input {
    width: 60%;
    height: 40px;
    padding: 12px;
    background: white;
    border-right: 0;
    border: 1px solid #e7e7e7;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.1;
    color: #333;
    font-style: italic;
    font-weight: 300;
}

.subscribe__input:focus {
    outline: 0;
}

.subscribe__input::placeholder {
    color: #ccc
}

.subscribe__btn {
    width: 40%;
    height: 40px;
    padding: 12px 30px;
    background-color: rgba(238,83,112,0.8);
    border: 0;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.1;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    transition: background .2s linear;
}

.subscribe__btn:hover {
    background-color: rgba(238,83,112,0.5);
}

.subscribe__btn:focus {
    outline: 0;
}


/* Copyright */
.copyright {
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    color: #333;
    border-top: 1px solid #e5e5e5;
}

.copyright span {
    color: #f38181;
}


@media (max-width: 1230px) {

    /* Intro */
    .intro__subtitle {
        font-size: 45px;
    }
    .intro__title {
        font-size: 75px;
    }

    /* Reviews */
    .reviews__text {
        font-size: 20px;
    }
}

@media (max-width: 990px) {

    /* Intro */
    .intro__subtitle {
        font-size: 35px;
    }

    .intro__title {
        font-size: 65px;
    }

    /* Services */
    .services__item {
        width: 50%;
    }

    .services__item--border {
        border-bottom: 0;
    }

    /* Reviews */
    .reviews .slick-slider {
        padding: 0 40px;
    }

    .reviews__photo {
        width: 80px;
        height: 110px;
    }

    .reviews__item {
        padding-left: 140px;
    }

    /* Clients */
    .clients {
        max-width: 600px;
        margin: 0 auto;
    }

    .clients__photo {
        margin-bottom: 10px;
        position: static;
    }

    .clients__item {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        margin-bottom: 40px;
    }

    .clients__text:before {
        margin: 15px auto;
    }

    /* Footer */
    .footer__col--first {
        width: 100%;
    }

    .footer__col--second,
    .footer__col--third {
        width: 50%;
    }

    /* Instagram */
    .instagram {
        justify-content: flex-start;
    }

    .instagram__item {
        width: auto;
    }
}

@media (max-width: 768px) {

    /* Nav */
    .nav {
        display: none;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #9791a0;
        /* background: linear-gradient(to left, #9791a0, #d8aeae, #f8dac3, #fff1dd)
        center no-repeat; */
    }

    .nav.active {
        display: block;
    }

    .nav.active:focus {
        outline: none;
    }

    .nav__link {
        display: block;
        margin: 0;
        padding: 8px 20px;
    }

    .nav__link:after {
        display: none;
    }

    .nav-toggle {
        display: block;
    }

    /* Header */
    .header {
        padding: 10px 0;
    }

    .header__inner {
        position: relative;
    }

    #top-container {
        padding: 0;
    }

    .logo {
        padding-left: 15px;
    }

    /* Hamburger */
    .hamburger {
        display: inline-block !important;
        position: absolute;
        right: 3%;
    }

    /* Intro */
    .intro__inner {
        padding-top: 25px;
    }

    /* Section */
    .section {
        padding: 40px 0;
    }

    .section--devices {
        padding-bottom: 0;
    }

    /* About */
    .about {
        margin-top: 10px;
        justify-content: center;
    }

    .about__item {
        max-width: 410px;
        width: 100%;
        margin-bottom: 30px;
    }

    .about__item:last-child {
        margin-bottom: 0px;
    }

    /* hr */
    hr {
        display: none;
    }

    /* Intro */
    .intro__subtitle {
        font-size: 25px;
    }
    .intro__title {
        font-size: 45px;
    }

    /* Services */
    .services {
        justify-content: center;
    }

    .services__item {
        width: 100%;
        max-width: 400px;
        padding-left: 55px;
        padding-right: 0;
    }

    .services__icon {
        left: 0;
    }

    /* We Do */
    .wedo__img {
        display: none;
    }

    .wedo__item {
        width: 100%;
    }

    /* Reviews */
    .reviews__photo {
        margin: 0 auto;
        position: static;
    }

    .reviews__item {
        padding-left: 0;
    }

    .reviews__text {
        margin-top: 15px;
    }

    /* Works */
    .works {
        flex-wrap: wrap;
    }

    .works__col {
        flex: none;
        width: 50%;
    }

    /* Blog */
    .blog {
        max-width: 380px;
        margin: 0 auto;
    }

    .blog__item {
        width: 100%;
        margin-bottom: 30px;
    }

    .blog__date {
        left: -5px;
    }

    /* Footer */
    .footer__col--first,
    .footer__col--second,
    .footer__col--third {
        width: 100%;
    }
}

@media (max-width: 575px) {

    /* Intro */
    .intro__subtitle {
        font-size: 25px;
    }
    .intro__title {
        font-size: 45px;
    }

    /* Section */
    .section__header {
        margin-bottom: 35px;
    }
    .section__title {
        font-size: 24px;
    }

    .section__subtitle {
        font-size: 24px;
    }

    .section__subtitle:after {
        margin: 20px auto;
    }

    /* Devices */
    .devices {
        max-width: 320px;
    }

    .devices__item--iphone {
        width: 160px;
        bottom: -40px;
        right: -20px;
    }

    /* Reviews */
    .reviews__text {
        font-size: 15px;
    }

    .reviews__author {
        font-size: 20px;
    }

    .slick-arrow {
        top: 16%;
    }

    .reviews .slick-slider {
        padding: 0;
    }

    /* Logos */
    .logos {
        flex-wrap: wrap;
        justify-content: center;
    }

    .logos__item {
        width: 50%;
        margin-bottom: 20px;
    }

    .logos__img {
        margin: 0 auto;
    }

    /* Works */
    .works__col {
        width: 100%;
    }

    /* Clients */
    .clients__item {
        padding-left: 0;
    }

    /* Subscribe */
    .subscribe {
        flex-wrap: wrap;
        max-width: none;
    }

    .subscribe__input {
        width: 100%;
        margin-bottom: 10px;
    }

    .subscribe__btn {
        width: 100%;
    }
}
